.Container {
  margin: auto;
  width: 1280px;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.BannerContainer {
  /* background-color: var(--bg-dark); */
}
.BannerText {
  padding: var(--l-1);
  grid-row: 2;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 100;
  font-size: var(--l-2);
  color: var(--bg-dark);
  text-align: center;
}

.ButtonContainer {
  display: flex;
  justify-content: center;
}

.SearchButton {
  box-shadow: none;
  background-color: var(--bg-dark);
  height: var(--l-2);
  /* border-radius: var(--l-1); */
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.TextInput {
  padding-left: var(--s-4);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: var(--s-5);
  line-height: 100%;
  width: 50%;
  border-bottom: solid 1px var(--bg-dark);
}
.TextInput:focus {
  border-bottom: solid 2px var(--bg-dark);
}
.ButtonText {
  font-family: "Inconsolata", monospace;
  font-weight: 400;
  font-size: var(--s-5);
  color: var(--text-light);
  text-align: center;
}
