/* .Container > * {
  width: fit-content;
} */
.Container {
  width: 1280px;
  margin: auto;
  font-family: var(--font-family-main);
  color: var(--text-dark);
  display: flex;
  justify-content: center;
}

.UserInfo {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: var(--s-4);
}

.Greeting {
  width: fit-content;
  margin-top: var(--l-1);
  padding: var(--s-4);
  font-size: var(--l-1);
}

.Username {
  font-weight: bold;
  padding-bottom: var(--s-1);
  color: var(--text-dark);
  border-bottom: 2px solid var(--accent-primary);
}

.UserInfoInput {
  display: flex;
  gap: var(--s-1);
}

.EditButton {
  color: var(--text-light);
  padding: var(--s-2);
  background-color: var(--accent-primary);
}
.CancelButton {
  padding: var(--s-2);
  color: var(--accent-primary);
}
.LogoutButton {
  color: var(--text-grey);
}
