.Container {
  margin: auto;
  width: 1280px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.SearchFormContainer {
  margin: auto;
  height: var(--l-3);
  width: 100%;
  display: flex;
  background-color: var(--bg-dark);
}

.ButtonContainer {
  width: 50%;
  height: var(--l-1);
  display: flex;
  align-items: center;
}
.SearchButton {
  box-shadow: none;
  background-color: var(--accent-primary);
  height: 100%;
  /* border-radius: var(--l-1); */
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.06s;
}

.SearchButton:hover {
  transform: scale(1.02);
  box-shadow: inset 0px 0px 10px var(--accent-secondary);
}

.CrossIcon {
  position: absolute;
  right: var(--s-2);
  top: 0;
  bottom: 0;
  margin: auto 0;
}
.TextInput {
  padding-left: var(--s-4);
  padding-right: var(--s-16);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: var(--s-5);
  width: 100%;
  background-color: var(--bg-primary);
  height: 100%;
}
.TextInput:focus {
  border-bottom: solid 3px var(--bg-primary);
}
.ButtonText {
  font-family: "Inconsolata", monospace;
  font-weight: 400;
  font-size: var(--s-5);
  color: var(--text-light);
  text-align: center;
}

.VacanciesListContainer {
  margin: auto;
  width: 1280px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.VacanciesList {
  margin-block: var(--l-2);
  display: flex;
  flex-direction: column;
  gap: var(--l-1);
}
.VacancyItem {
  padding: var(--s-4);
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition-property: transform;
  transition-duration: 0.5s;
  border-bottom: 1px solid rgb(171, 165, 165);
  border-left: 1px solid rgb(171, 165, 165);
}
.VacancyItem:hover {
  transform: perspective(900px) rotateY(10deg);
}
.VacancyTitle {
  padding: var(--s-4);
  background-color: var(--bg-dark);
  color: var(--bg-primary);
  border-radius: 0 var(--s-4) 0 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.DescriptionContainer {
  display: flex;
  flex-direction: column;
  gap: var(--s-4);
  margin-top: var(--s-4);
}

.VacancyExp {
  padding-left: var(--s-2);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.VacancyLoc {
  padding-left: var(--s-2);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
