.Container {
  margin: auto;
  width: 1280px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.SearchAndSuggestions {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
}

.SuggestionsContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: var(--s-2);
  top: var(--l-2);
  width: 100%;

  background-color: var(--bg-primary);
  z-index: 1050;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.Suggestion {
  font-family: var(--font-family-main);
  cursor: pointer;
  padding: var(--s-4);
}
.Suggestion:hover {
  background-color: var(--accent-primary);
  color: var(--text-light);
}

.SearchFormContainer {
  margin: auto;
  height: var(--l-3);
  width: 100%;
  display: flex;
  background-color: var(--bg-dark);
}

.ButtonContainer {
  position: relative;
  width: 50%;
  height: var(--l-1);
  display: flex;
  align-items: center;
}
.SearchButton {
  box-shadow: none;
  background-color: var(--accent-primary);
  height: 100%;
  /* border-radius: var(--l-1); */
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.06s;
}

.SearchButton:hover {
  transform: scale(1.02);
  box-shadow: inset 0px 0px 10px var(--accent-secondary);
}

.CrossIcon {
  position: absolute;
  right: var(--s-2);
  top: 0;
  bottom: 0;
  margin: auto 0;
}
.TextInput {
  padding-left: var(--s-4);
  padding-right: var(--s-16);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: var(--s-5);
  width: 100%;
  background-color: var(--bg-primary);
  height: 100%;
}
.TextInput:focus {
  border-bottom: solid 3px var(--bg-primary);
}
.ButtonText {
  font-family: "Inconsolata", monospace;
  font-weight: 400;
  font-size: var(--s-5);
  color: var(--text-light);
  text-align: center;
}

.MainContainer {
  margin: auto;
  width: var(--page-container-width);
  display: flex;
  justify-content: center;
}
.FilterSection {
  margin-block: var(--l-2);
  display: flex;
  flex-direction: column;
  width: 30%;
}

.VacanciesList {
  width: 65%;
  margin-block: var(--l-2);
  display: flex;
  flex-direction: column;
  gap: var(--l-1);
}

.PaginationContainer {
  font-family: var(--font-family-main);
  width: fit-content;
  display: flex;
  gap: var(--s-4);
  margin: 0 auto;
}

.PaginationButton {
  cursor: pointer;
  color: var(--text-dark);
  padding: var(--s-4);
  padding-inline: var(--s-5);
}
.ActivePaginationButton {
  cursor: pointer;
  color: var(--text-light);
  padding: var(--s-4);
  padding-inline: var(--s-5);
  background-color: var(--accent-primary);
}

.PrevActive {
  cursor: pointer;
  color: var(--text-dark);
}
.PrevInactive {
  color: var(--text-grey);
}
