/* Header contains navbar */
.Header {
  /* margin-inline: 2%;
  margin-top: var(--l-1); */
  display: flex;
  align-items: center;
  justify-content: stretch;
  background-color: var(--accent-primary);
}

/* Navbar contains boxes for each nav section*/
.NavBar {
  height: 88px;
  width: 1280px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: stretch;
}

/* MenuBox contains two menu items: favorites and search */
.MenuBox {
  height: 100%;
  display: flex;
  flex: 1 1 33%;
  gap: var(--s-2);
  justify-content: flex-start;
}

/* LogoBox contains one item: logo */
.LogoBox {
  height: 100%;
  display: flex;
  flex: 1 1 33%;
  justify-content: center;
}

/* ProfileBox contains one item: profile */
.ProfileBox {
  height: 100%;
  display: flex;
  flex: 1 1 33%;
  justify-content: flex-end;
}

/* Item contained in each of the boxes */
.BoxItem {
  height: 100%;
  display: flex;
  align-items: center;
  gap: var(--s-2);
}

/* Container for elements that are inisde the box item */
.Container {
  height: 100%;
  display: flex;
  align-items: center;
  padding-inline: var(--s-5);
  gap: var(--s-4);
  /* border-radius: var(--s-6); */
}
.Container_Active {
  background-color: var(--accent-secondary);
}
.LogoContainer {
  height: 100%;
  padding: var(--s-1);
  display: flex;
  align-items: center;
  gap: var(--s-2);
  border-radius: 10%;
}
.LogoContainer_Active {
  background-color: var(--accent-secondary);
}

/* LinkText */
.LinkText {
  font-family: "Inconsolata", monospace;
  font-weight: 400;
  font-size: var(--s-5);
  color: var(--accent-secondary);
  text-align: center;
}
.LinkText_Active {
  color: var(--text-dark);
}
